#!/usr/bin/env bash
set -e

# Zips and uploads a directory/directories to AWS Lambda to be used as a Function.

echo "Zipping select files to 'function-for-lambda.zip'..."
# node_modules directories necessary for production are gathered from `npm ls --prod --all --parseable`
zip --filesync --recurse-paths function-for-lambda.zip src/ node_modules/axios/ node_modules/follow-redirects/
echo "Uploading 'function-for-lambda.zip' to AWS Lambda..."
aws lambda update-function-code --function-name YOUR_FUNCTION_NAME --zip-file fileb://function-for-lambda.zip
echo "Success."
